:root {
    /* --color-black: #000; */
}
body {
    background-color: #0f0f0f;
    margin: 0;
    box-sizing: border-box;
    /* width: 100vw; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */
header{
    background-color: #0f0f0f;
    margin-bottom: 1.5em;
    padding-top: 1em;
    position: fixed;
    width: 100%;
    z-index: 3;
}

header div button:hover {
background-color: #303030;
}

header div ul li button:hover {
    background-color: #303030;
    }
    

header div:nth-of-type(1){
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

aside {
    display: flex;
    align-items: center;
}

header img:nth-of-type(1) {
    width: 7em;
}

aside button {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #0f0f0f;
    border: none;
    border-radius: 50%;
    margin-right: 1em;
    margin-left: 1.5em;
}

aside button img{
    margin: 0.4em;
}

form{
    display: flex;
    align-items: center;
}

form button:nth-of-type(1) {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #222222;
    border: solid 0.5px #303030;
    border-radius: 50%;
    border-radius: 0 5em 5em 0 ;
}

form button:nth-of-type(2){
    width: 2.5em;
    height: 2.5em;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #0f0f0f;
    border: none;
    border-radius: 50%;
    margin-right: 1em;
    margin-left:.5em;
}

form button:nth-of-type(1) img{
    margin: 0.6em;
}

form button:nth-of-type(2) img{
    margin: 0.3em;
}

form input {
    border-radius: 5em 0 0 5em;
    padding: 1em;
    background-color: #0f0f0f;
    border: solid 0.5px #303030;
    color: white;
    flex-grow: 1;
    height: 0.35em;
}

header ul:nth-of-type(1) {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

header div ul {
    margin: 0;
}

header div ul:nth-of-type(1) button {
    width: 1.8em;
    height: 1.8em;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #0f0f0f;
    border: none;
    border-radius: 50%;
    margin-right: 2em;
    /* -moz-transition-timing-function: ; */
}

header ul:nth-of-type(1) button img{
    margin: 0.4em;
}



/* categorie buttons */
header > ul{
    overflow-x: auto;
    padding-left: 0;
    justify-content: flex-start;


}

header > ul::-webkit-scrollbar {
    display: none;
}

header > ul button{
    color: white;
    background-color: #303030;
    border: none;
    border-radius: 0.5em;
    padding: 0.7em;
    margin-right: 0.7em;
    font-weight: bold;
}

header > ul button:hover{
    background-color: #8b8b8b;
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    position: fixed;
    margin: 0;
}

nav ul li {
    padding-right: 0;
    margin-right: 0;
}

nav ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1.7em;
    color: white;
    text-decoration: none;
    margin-bottom: 1em;
    
}

nav ul li a img {
    margin-bottom: .5em;
}



/* MAIN */
.homemain {
    display: grid;
    padding-top:8em ;
    grid-template-columns:1fr 14fr;
}

.videomain section:nth-of-type(1){
    overflow:hidden;
    justify-content: center;
}

img {
    max-width: 100%;
}

.homesection{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(22em, 1fr));
    margin-left: 2em;
    margin-right: 2em;
    gap: 1em;
}

article a image {
    border-radius: 50%;
}

article a{
color: lightgrey;
text-decoration: none;
}

article p {
    color: lightgrey;
}

.video{
    display: flex;
    flex-direction: column;
}

.video img {
    border-radius: 1em;
    margin-bottom: 0.2em;
}

.video strong {
    color: white;
}

video {
    width: 80vw;
    margin:0; 
}

h1 {
    color: white;
    margin-right:1em;
    margin-top: 0;
    margin-bottom: 0.6em;;
    font-size: 1.5em;
}

.suggestie {
    display: flex;
    flex-direction: column;
}

.filmpjeflex {
     display: flex;
} 

 .filmpjecolumn {
    display: flex;
    flex-direction: column;
}

.video .filmpjeflex a img{
    width: 2em;
    height: 2em;
    border-radius: 60%;
    margin-right: 1em;
}

.filmpjecolumn a:nth-of-type(2) {
    margin-top: 0.5em;
    color: lightgrey;
}

.filmpjecolumn p {
    margin-top: 0;
    color: lightgrey;
}

.videomain section:nth-of-type(1) {
    text-align: center;
    padding-top: 5em;
}

.videomain section:nth-of-type(2) article:nth-of-type(1){
    margin-left: 8vw;
    padding: 1em;
    padding-left: 2.5vw;
}

.videomain section:nth-of-type(2) article:nth-of-type(2){
    background-color: #303030;
    border-radius: 1em;
    padding: 1em;
    margin-left: 10vw;
    padding-right: 15vw;
    color: white;
    font-size: 1.2em;
}
.videomain section:nth-of-type(2) article:nth-of-type(1) img{
width: 3em;
}


h2 {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.aboneeflex {
    display: flex;
}

.aboneecolumn {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    font-weight: bold;
}

.aboneecolumn p {
    margin-top: 0.1em;
    color: #959595;
}

.videomain section:nth-of-type(2) article:nth-of-type(2) p:nth-last-child(1){
    margin-bottom: 0;
}

.videomain {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(50em, 1fr));
}


.videomain section:nth-of-type(1) {
    grid-column-start:1;
    grid-column-end:-1;
}

.suggestie {
    margin-top: 1.5em;
    margin-left: 3em;
    font-size: 1.4em;
}

.suggestie a {
    color: white;
}

.suggestie img {
    width: 15em;
    border-radius: 0.7em;
    margin-right: 1em;
    margin-bottom: 0;
}

.suggestiecolumn a {
    margin-bottom: 1.5em;
}

.suggestie a {
    display: block;
}

.suggestie p {
    margin:0;
}

.suggestieflex {
    display: flex;
    align-items: center;
}

.suggestiecolumn {
    display: flex;
    flex-direction: column;
}
/* * {
    border: solid red 1px;
} */









/* flex basis op input*/
/* iconen svg + viewwidth */
